*.class
*.project
Java-Lib/bin
Java-Lib/.settings
Java-Lib/bin
JavaUI-Swing/bin
JavaUI-JavaFX/build
JavaUI-JavaFX/dist
JavaUI-JavaFX/nbproject
JavaUI-Android/*gradle*
JavaUI-Android/local.properties
JavaUI-Android/narpasProject.iml
JavaUI-Android/narpas/build
JavaUI-Android/narpas/build.gradle
JavaUI-Android/narpas/narpas.iml
dotNet/narpas-win.sln
dotNet/narpas-win.suo
dotNet/narpas-win/obj
dotNet/narpas-win/bin
dotNet/narpas-win/narpas-win.csproj.user
dotNet/narpas-win/naspas-win.resx
