.root
{
    -fx-font-family: Ubuntu;
    -fx-font-face: Ubuntu;
    -fx-base: #f8f9fe;
    -fx-mid-text-color: #444D57;
    -fx-light-text-color: #6c757d;
    -fx-accent: #708090;
    -fx-default-button: #ecedf2;
    -fx-focus-color: #4169e2;
    -fx-faint-focus-color: #4169e244;
    -fx-selection-bar-non-focused: #708090;
    -fx-cell-hover-color: #d4d6e3;
}